<!DOCTYPE html>
<html>
<head>
  <title>Edit Director</title>
</head>
<body>

<h1>Edit Director</h1>

  <form action="http://localhost:3000/update_director/<%=@director.id%>">
    <div>
      <label for="director_name">Name:</label>
      <input id="director_name" type="string" name="the_name" value="<%=@director.name%>">
    </div>
    <div>
      <label for="director_dob">DOB:</label>
      <input id="director_dob" type="string" name="the_dob" value="<%=@director.dob%>">
    </div>
    <div>
      <label for="director_bio">Bio:</label>
      <input id="director_bio" type="text" name="the_bio" value="<%=@director.bio%>">
    </div>
    <div>
      <label for="director_pic">Picture URL:</label>
      <input id="director_pic" type="string" name="the_url" value="<%=@director.image_url%>">
    </div>
    <div>
      <button>Update Director</button>
    </div>
  </form>

  <a href="http://localhost:3000/directors/">Back</a>

</body>
</html>
