<h1> <%= @name %> </h1>
<p>Born: <%= @dob %></p>

<img src="<%= @photo %>" width="400">

<h2>Biography:</h2>
<p align="justify"> <%= @bio %></p>

<a href="http://localhost:3000/directors/">Back</a>
<a href="http://localhost:3000/delete_director/<%= @iden %>">Delete</a>
